@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Kufi+Arabic:wght@300;400;500;600;700;800&display=swap');

/* body.rtl-active  {
  text-align: right;
} */
:root {
  /* Brand Colors */
  --color-primary-navy: #131C2F;
  --color-primary-blue: #3b82f6; 
  --color-brand-blue-glow: #116BFD;
  --color-primary-red: #E03232;
  --color-primary-red-hover: #c92c2c;
  
  /* Status Colors */
  --color-success: #10B981;
  --color-warning: #F59E0B;
  --color-error: #E03232;

  /* Backgrounds & Surfaces */
  --bg-main: #131C2F;
  --bg-gradient-dark: #192149;
  --bg-card: rgba(15, 23, 42, 0.5);
  --bg-surface-navy: #151D34;
  --bg-surface-dark: #101726;
  --bg-surface-input: #172136;
  --bg-surface-highlight: #3b5074;
  --bg-surface-deep: #0b111e;
  
  /* Text & Borders */
  --text-primary: #ffffff;
  --text-secondary: #8892b0;
  --text-muted: #b0b8c8;
  --text-muted-dark: #616e88;
  --border-subtle: #23304c;
  --border-light: rgba(255, 255, 255, 0.1);

  /* Typography */
  --font-family-primary: 'Roboto', sans-serif;
}

body {
  font-family: var(--font-family-primary);
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  /* background-color: var(--bg-main); */
   /* background: linear-gradient(180deg, #1D2C4B 0%, #192149 100%); */
   background: linear-gradient(180deg, #12203a 0%, #162b4b 100%);

   /* background: linear-gradient(180deg, #1D2C4B 0%, #192149 100%); */
   
  color: var(--text-primary);
}

.App {
  font-family: var(--font-family-primary);
}

/* RTL Support */
body.rtl-active, 
body.rtl-active * {
  font-family: 'Noto Kufi Arabic', sans-serif !important;
  line-height: 2.3;
}

body.rtl-active {
  direction: rtl;
  text-align: right;
}

body.rtl-active .hero-title {
  line-height: 1.4;
}

body.rtl-active .navbar-brand {
  margin-right: 0;
  margin-left: 24px;
}

body.rtl-active .icon-btn {
  margin-left: 0;
  margin-right: 12px;
}
